
#list{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}


.important{
    background-color:red;
}
.low{
    background-color: green;
}

.snow{
    transition: all 2s ease-out;
}